%h1 Add album to artist ‘#{@artist}’
= link_to 'Back to index', [:artists], class: 'btn btn-default'
%hr

= semantic_form_for @form do |f|
  = f.semantic_fields_for :albums do |album_f|
    = render partial: 'album_form', locals: { f: album_f }
  .row
    .col-md-8.col.text-right= link_to 'Add album', '#', class: 'add-row btn btn-default'

  = f.submit class: 'btn btn-primary'
