!!! 5
%html
  %head
    %meta{charset: Rails.application.config.encoding}
    %title Form This! demo
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css")
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  %body
    .container-fluid
      = yield


    = javascript_include_tag '//code.jquery.com/jquery-2.1.1.min.js'
    = javascript_include_tag 'application'
